{% extends 'base.html' %}
{% block pagetitle %}A Twitter Game{% endblock %}
{% block title %}User Info{% endblock %}
{% block primary %}
{% if twuser %}
    <div id="user">
    User: {{ twuser }}
    <br>
    Member of Games:
        <ul>
        {% for game in games %}
            <li>Game Name: <a href="/g/{{ game.id }}">{{ game.name }}</a> Admin: <a href="/u/{{ game.admin.id }}/{{ game.admin.username }}/">{{ game.admin }}</a> Created On {{ game.creation_date }}</li>
        {% endfor %}
        </ul>
    Words Owned:
        {% for word in owned %}
        <span style="font-size: {{ word.getSize }}px;"> {{ word.word }}</span>: {{ word.score }}
        {% if not forloop.last %} 
        |
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>User Not Found.</p>
{% endif %}
{% endblock %}
